* {
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #535252;
    font-family: "Roboto", sans-serif;
}

.main {
    background-color: #1E1E1E;
    display: flex;
    flex-direction: column;
    width: 90%;
    max-width: 400px;
    padding: 15px;
    border-radius: 16px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.5);
}

.visor {
    background-color: #000;
    width: 100%;   
    min-height: 70px;
    padding: 0.6rem;
    box-sizing: border-box;
    text-align: right;
    font-size: 2.5rem;
    color: #ffffff;
    border-radius: 8px;
    margin-bottom: 15px;
    box-shadow: inset 0 2px 6px rgba(0,0,0,0.7);
}

.container {
    background-color: #1E1E1E;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center; 
    border-radius: 8px;
}

.item {
    font-size: 1.2rem;
    height: 60px;
    cursor: pointer;
    border: none;
    flex: 1 1 20%;
    margin: 8px;
    border-radius: 12px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.4);
    transition: all 0.2s, transform 0.1s;
    color: #fff;
}

.item:hover {
    filter: brightness(1.1);
}

.item:active {
    transform: scale(0.95);
}

.number {
    background-color: #3E3E3E;
}

.number:hover {
    background-color: #4A4A4A;
}


.operation {
    background-color: #FF9500;
}

.operation:hover {
    background-color: #CC7700;
}

.equal {
    background-color: #34C759;
}

.equal:hover {
    background-color: #2E9E47;
}


.clear {
    background-color: #FF3B30;
}

.clear:hover {
    background-color: #CC2A21;
}